In [73]:
import pandas as pd

In [74]:
list1 = [10, 20, 30, 40, 50]
s1 = pd.Series(list1)

s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [75]:
tuple1 = ("apples", "banana", "cherry")
s_tuple = pd.Series(tuple1)

s_tuple

0    apples
1    banana
2    cherry
dtype: object

In [76]:
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1964}

s_dictionary = pd.Series(dict1)

s_dictionary

brand       Ford
model    Mustang
year        1964
dtype: object

In [77]:
print("The s1 series values are:", pd.Series(s1).values)
print("The s1 index values are:", pd.Series(s1).index)
print("\n")
print("The s_tuple series values are:", pd.Series(s_tuple).values)
print("The s_tuple index values are:", pd.Series(s_tuple).index)
print("\n")
print("The s_dictionary series values are:", pd.Series(s_dictionary).values)
print("The s_dictionary index values are:", pd.Series(s_dictionary).index)

The s1 series values are: [10 20 30 40 50]
The s1 index values are: RangeIndex(start=0, stop=5, step=1)


The s_tuple series values are: ['apples' 'banana' 'cherry']
The s_tuple index values are: RangeIndex(start=0, stop=3, step=1)


The s_dictionary series values are: ['Ford' 'Mustang' 1964]
The s_dictionary index values are: Index(['brand', 'model', 'year'], dtype='object')

In [78]:
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print("The Marks obtained by student are", "\n",s2)
s2

The Marks obtained by student are
 English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [79]:
s2.name = "Student Marks"

s2.index.name = "Subjects"
s2

Subjects
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [80]:
s2

Subjects
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [81]:
s2.head(1)

Subjects
English    80
Name: Student Marks, dtype: int64

In [82]:
s2[1:4]

Subjects
Science    93
Social     78
Tamil      85
Name: Student Marks, dtype: int64

In [83]:
s2['Tamil']

85

In [84]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

fruits = pd.Series(dict_fruits)
print("Fruits and pricesn","\n",fruits)

Fruits and pricesn
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [85]:
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [86]:
s2

Subjects
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [93]:
import pandas as pd
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
df_marks = pd.DataFrame(s2, columns=['Student1'])
print("The dataframe created from series is","\n",df_marks)

The dataframe created from series is
          Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [94]:
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [96]:
df_person = pd.DataFrame({'height': height, 'weight': weight})
print("The Person table details are:","\n", df_person)

The Person table details are:
           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59